<!-- Content Heading:  -->
<% if (title) { %>
    <h1 class="inv-h1"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
<!-- Message Block -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice-login">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Check account type and render accordingly -->
<div id="account-management-grid">
    <% let account = locals.accountData %>
    <h2>Welcome <%= account.account_firstname %>!</h2>
    <a title="Update Account" href="/account/update/<%= account.account_id %>">Update my account information</a>
    <% if (account.account_type == 'Employee' || account.account_type == 'Admin') { %>
        <h3>Inventory Management</h3>
        <p><a title="Access Inventory Management" href="/inv/">Click here to manage the inventory</a></p>
    <% } %>
</div>

<!-- Reviews -->
<div id="acc-management-reviews">
    <% if(locals.reviewList){ %>
        <h3>My Reviews</h3>
        <%- locals.reviewList %>
        <% } %>
    
    <% if(accountData.account_type != 'Client'){ %>
        <h3>Inventory Management</h3>
    <p><a href="/inv/" target="_blank">Manage Inventory</a></p> 
    <% } %>
</div>