<!-- Content Heading:  -->
<% if (title) { %>
    <h1 class="inv-h1"><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
<!-- Message Block -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice-add-inv">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-flex">
    <form id="delete-inventory-form" action="/inv/delete" method="post">  
        <p class="delete-banner">Confirm Deletion - The deletion is permanent</p>    
        <label for="make-delete">Make: </label><br>
        <input type="text" id="make-delete" name="inv_make" required pattern="^[A-Za-z0-9 ]{3,}$" value="<%= locals.inv_make %>" readonly><br>
        <label for="model-delete">Model: </label><br>
        <input type="text" id="model-delete" name="inv_model" required pattern="^[A-Za-z0-9 ]{3,}$" value="<%= locals.inv_model %>" readonly><br>
        <label for="price-delete">Price: </label><br>
        <input type="number" id="price-delete" name="inv_price" required min="0" step="0.01" value="<%= locals.inv_price %>" readonly><br>
        <label for="year-delete">Year: </label><br>
        <input type="number" id="year-delete" name="inv_year" required min="1900" max="2099" value="<%= locals.inv_year %>" readonly><br>
        <input type="submit" value="Delete Vehicle" id="delete-button">
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>


